<h1>Boards</h1>
<%= link_to "New Board", new_board_path, class:"ui green button inverted"%>
<div class="ui divider"></div>
<div class="ui four raised centered cards">
  <% @boards.each do |board| %>
        <div class="card">
          <div class="ui divider"></div>
          <h3 class="center aligned header"><%= link_to board.b_name, board %></h3>
          <div class="ui divider"></div>
        </div>
  <% end %>
</div>